.App {
  text-align: center;
  height: 100vh;
  background-color: #001011;
}

.headerWrap {
  display: flex;
  flex-direction: column;
  height: 8%;
  border-bottom: 2px solid #297373;
  background-color: #001011;
  font-size: 2em;
  color: #FDFFFC;
  justify-content: center;
}

.homeLink {
  width: 25%;
  font-size: 1em;
  text-decoration: none;
  color: #FDFFFC;
}

.homeLink:hover {
  -webkit-text-stroke: 1px #FEC601;
	text-shadow: -1px 1px 2px #FEC601,
				  1px 1px 2px #FEC601,
				  1px -1px 0 #FEC601,
				  -1px -1px 0 #FEC601;
}
