.buttonWorldWrap {
  text-align: -webkit-center;
}

.title {
  color: #f6f6f6;
  margin-top: 5%;
  margin-bottom: 0%;
  font-size: 5em;
}
.buttonsWrap {
  overflow: scroll;
  margin: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 60vh;
  justify-content: space-between;
}
.buttonWrap {
  width: 25%;
  height: 25%;
}

button {
  width: 175px;
  height: 50px;
  margin: 10%;
}
